@import '../../theme/variables';

.header {
  background: $primary;
  display: flex;
  height: $headerHeight;
  justify-content: space-between;
  color: #FFF;
  font-size: 18px;
  
  h1 {
    font-size: 36px;
    margin: 4px 0 8px 0;
  }

  a {
    color: #FFF;
    cursor: pointer;
  }

  .left, .right {
    display: flex;
    flex: 1;
    align-items: center;
  }

  .left {
    margin-left: 8px;
  }

  .right {
    justify-content: flex-end;
    margin-right: 8px;
  }
}